body {
  -webkit-box-shadow: 10px 10px 1px 0px rgba(232,232,232,1);
  -moz-box-shadow: 10px 10px 1px 0px rgba(232,232,232,1);
  box-shadow: 10px 10px 1px 0px rgba(232,232,232,1);
  border: 1px solid #d8d8d8;
  width: 330px;
}

.container {
  margin-left: 15px;
  margin-bottom: 10px;
}

.img {
  margin-bottom: 15px;
}

.text-container {
  border: 1px solid #d8d8d8;
  width: 300px;
  margin-bottom: 10px;
}

li span {
  font-weight: bold;
}

.text-container .italic {
  font-style: italic;
}

.padded-text {
  padding: 10px;
}

.unstyled-list {
  list-style: none;
}
